<h1>TIMER POMODORO</h1>
<mat-tab-group>
  <mat-tab label="25 MIN">
    <button (click)='startTimer()' mat-raised-button color="primary">Start Timer</button>
    <button (click)='pauseTimer()' mat-raised-button color="warn">Pause</button>
    <div class="container-pomo">
      <p>{{minutes}}:{{counterIn60}}</p>
      <p>{{pomodoros}} P</p>
    </div>
  </mat-tab>
  <mat-tab label="5 MIN">
    <button (click)='startTimerForFiveMinutes()' mat-raised-button color="primary">Start Timer</button>
    <button (click)='pauseTimerForFiveMinutes()' mat-raised-button color="warn">Pause</button>
    <div class="container-pomo">
      <p>0{{minutesFive}}:{{counterIn60Five}}</p>
    </div>
  </mat-tab>
</mat-tab-group>
<mat-toolbar>
  Developed by Vitor Oliveira da Silva
</mat-toolbar>